/* ----- FONT  ----- */




body {
    font-family: 'Cantarell', sans-serif;
    color: #6cd8b1;
    line-height:0;

}

.wrapper {
    line-height:1.5;

}

.section1  {

    background: url("img/background_home.jpg") center center;

    background-repeat:no-repeat;
    position: relative;
    height:100vh;

    background-size: cover;
    background-attachment: fixed;
    }

.section1:after {
    position: absolute;
    content: '';
    width: 100%;
    height:100%;
    background-color: #3f3734;
    opacity: 0.2;
    top:0;
    left:0;

}
.sectionpresse  {

    background: url("img/VISU-PRESSE.jpg") center center;

    background-repeat:no-repeat;
    position: relative;
    height:100vh;

    background-size: cover;
}

.sectionpresse:after {
    position: absolute;
    content: '';
    width: 100%;
    height:100%;
    background-color: #3f3734;
    opacity: 0.2;
    top:0;
    left:0;

}
.cta-main {
    background-color: #6cd8b1;
    text-transform: uppercase;
    padding: 18px 42px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #6cd8b1;
    border-radius: 71px;
    letter-spacing: 4px;
    font-size: 15px;
}
.cta-main:hover{
    border:1px solid #6cd8b1;
    background-color: #ffffff;
    color:#6cd8b1;
}
.cta-main:hover a {
    color:#6cd8b1;
}
.title {
    font-size: 3.5rem;
    font-weight: 400;
    color: #FFF;
    padding: 40px;
    z-index: 999;
    letter-spacing: 10px;
}
.title span {
    display: block;
    font-size: 3rem;
}
.important_z {
    z-index: 999;
}
a {
    text-decoration: none;
}
.section1 a {
    color:#fff;
}

.cta-main a:hover {
    color:#6cd8b1;
}
#mc-embedded-subscribe {
    background-color: #6cd8b1!important;}

.section4 {
    background-color: #3f3734;
    color: #fff;
}

.action {
    margin: 50px 0;
    text-align: center;
    background: #f68465;

    color: #ffffff;
    min-height: 380px;
    margin-top:140px
}


.action2 {
    position: relative;
    padding: 20px;
    background-size: cover;
    color: #3f3734;
    border-radius: 7px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
     min-height: 453px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-box-shadow: 0 0 10px 1px #C7AEA5;
    box-shadow: 0 0 10px 1px #C7AEA5;
}
.action3 {
    position: relative;
    padding: 20px;
    background-size: cover;
    color: #3f3734;
    border-radius: 7px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 453px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-box-shadow: 0 0 10px 1px #C7AEA5;
    box-shadow: 0 0 10px 1px #C7AEA5;
}

.section2 .container-fluid,.section3 .container-fluid,.section4 .container-fluid {
    padding-left: 95px;
    padding-right: 95px;
}

.section5 .container-fluid {
    padding: 0  ;
    overflow: hidden;
}

.section5 {
    overflow: hidden;
}
.btn-wait {

    color: #fff;
    z-index: 99;
    align-self: flex-end;

}
.center {

    align-self: flex-end;
}
#img-1 {
    background-image: url(img/RESTO1.png);
    padding: 20px;
    background-size: cover;
    color: #3f3734;

}
#img-2 {
    background-image: url(img/RESTO2.png);
    padding: 20px;
    background-size: cover;
    color: #3f3734;

}
#img-3 {
    background-image: url(img/RESTO3.png);
    padding: 20px;
    background-size: cover;
    color: #3f3734;

}
#img-4 {
    background-image: url(img/PRESSE1N.jpg);
    padding: 20px;
    background-size: cover;
    color: #3f3734;

}
#img-5 {
    background-image: url(img/PRESSE2N.jpg);
    padding: 20px;
    background-size: cover;
    color: #3f3734;

}
#img-6 {
    background-image: url(img/PRESSE3N.jpg);
    padding: 20px;
    background-size: cover;
    color: #3f3734;

}
.action h2 {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 2px;;
}

.features-item a{
    color: #6cd8b1;
    font-size:4rem;
}
.commande {
    width:100%;
    text-align: center;
    align-self: flex-start;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 10px;
    font-weight: 900;
    font-size: 20px;
    border-radius: 7px;
    z-index: 99;
    }
.presse-txt {
    width: 100%;
    text-align: center;
    align-self: flex-start;
    text-transform: inherit;
    color: #ffffff;
    letter-spacing: 0px;
    font-weight: 100;
    font-size: 20px;
    border-radius: 7px;
    padding-bottom: 10%;
    z-index: 99;
}
.text {
    font-size: 20px;
    margin: 20px 0 45px 0;
    font-weight: 100;
    text-align: center;

}
.btn-press {
    margin-left: 21%;
}
.btn-press-second {
    margin-left: 25%;
}
.browntext {
    font-size: 25px;

    font-weight: 600;
    text-align: center;
    color: #3f3734;
    letter-spacing: 5px;
    margin-top: 65px;
    margin-bottom: 65px;
    text-transform: uppercase;
}


.action p {
    line-height:20px;
    padding-top: 20px;
}


#sec_1,#sec_2,#sec_3 {
    position: relative;
    text-align: left;
    border-radius: 7px;
    margin: 0 32px;
}


.action2:after {
    position: absolute;
    content: '';
    width: 100%;
    height:100%;
    background-color: #3f3734;
    opacity: 0.2;
    top:0;
    left:0;
}



.content-produit {
    padding: 20px;
}

#sec_1 .img-prodtuit {

    background: url("img/background_1.jpg") center center;
    background-size: cover;
}


#sec_2 .img-prodtuit {


    background: url("img/background_2.jpg") center center;
    background-size: cover;
}

#sec_3 .img-prodtuit {


    background: url("img/background_3.jpg") center center;
    background-size: cover;
}


.section2{
    padding: 0 0;
}
.action{
    margin:0;
    display: flex;
    flex-wrap: wrap;
    min-height: 455px;
    border-radius: 7px;
}
#post-7{
    margin-bottom: 500px;
}
.action img {
    padding: 0;
    height: 88px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.section3{
    padding:50px 0;

}

.section4 {
    padding: 50px 0;
}

#logo {
    position: absolute;
    width: 127px;
    z-index: 9;
    top:0;
    left: 0;
    margin-left: 10%;
}
.fa {
    transition: all 0.3s ease-in-out;
}
.fa.fa-facebook:hover {
    color: #3B5998;
}
.fa.fa-twitter:hover {
    color: #00ACEE;
}

.fa.fa-instagram:hover {
    color: #A13F9E;
}


.img-prodtuit {
    width: 100%;
    text-align: center;
    min-height: 262px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 7px 7px 0 0;


}

.menu {
    background-color: rgba(255, 255, 255, 0.33);
    width: 100%;
    height: 124px;
    position: absolute;
    z-index: 99;

}


.menuWow {
    background-color: #3f3734;
    width: 100%;
    height: 124px;
    z-index: 99;

}

.menuWow #logo {

    margin-left: 1%;

}

.entry-title {
    text-align: center;
    margin: 20px 0px;
    display: none;
}
.wrap {
    line-height: 1.5;
}

a {
    color: #3f3734;
}

.page-id-34 .menuWow {
    display:none;
}
.page-id-34 #main .container {
    width:100%;
}
footer {
    background-color: #6cd8b1;
    color:#fff;
    padding-top: 20px;
}

footer a {
    color: #fff;
}
.wow{
    background-color: #6cd8b1;
}
.wow ul {
    margin: 0;
    padding: 0;
}
.wow ul li {
    list-style-type:none;
}
.wow h2 {
    margin-bottom: 30px;
}
.legal{
    color: #fff;
    height:100vh;
}

/* 404 PAGE */


.custom_404 {
    height:100vh;
    padding: 10px;

}
.video {
    min-height: 205px;
}

.title_404 {
    text-align: center;
    margin: 20px 0;
}

.gmap {
    text-align: center;
}

.gmap1 {
    font-size: 24px;
    font-weight: bold;
}


.gmap2 {
    font-size
}
@media (min-width: 576px) {
}


@media (min-width: 768px) {  }


@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }

 #map {
     height: 50vh;
     width:100%;

     top:0;
 }

@media (max-width: 575px) {
    .hiden_phone {
        display:none;
    }
    .title {
        font-size: 1.9rem;
    }
    .cta-main {
        padding: 18px 22px;
        font-size: 7px;
    }
    .btn-press {
        margin-left: 20%;
    }
    .btn-press-second {
        margin-left: 22%;
    }
}


@media (max-width: 767px) {  }

@media (max-width: 991px) {

    .section2 .container-fluid, .section3 .container-fluid, .section4 .container-fluid {
        padding-left: 0;
        padding-right: 0;
        overflow: hidden;
    }

    .action {
        margin: 10px 0 !important;
    }

    .action2 {
        margin: 10px 0 !important;
    }

    #sec_1, #sec_2, #sec_3 {

        margin: 0;

    }
}

@media (max-width: 1199px) {

    .action h2 {
        color: #ffffff;
        font-size: 1.4rem;
        font-weight: bold;
        letter-spacing: 2px;
    }
}



@media (max-width: 575px) { }


@media (min-width: 576px) and (max-width: 767px) {  }


@media (min-width: 768px) and (max-width: 991px) { }

@media (min-width: 992px) and (max-width: 1199px) {

}


@media (min-width: 1200px) {  }



.iframe-responsive-wrapper        {
    position: relative;
}

.iframe-responsive-wrapper .iframe-ratio {
    display: block;
    width: 100%;
    height: auto;
}

.iframe-responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}